# Yocto/Kas build outputs
build/
tmp/
sstate-cache/
downloads/

# Kas cloned layers
bitbake/
meta-raspberrypi/
meta-yocto/
meta-poky/
meta-yocto-bsp/
openembedded-core/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
